<div class="col-md">
  {% for banner in banners %}
    <div class="d-flex justify-content-center align-items-center">
      {% if banner.image_url %}
        <img class="img-fluid rounded"
             src="{{ banner.image_url }}"
             alt="{{ banner.title|default:'Banner image' }}"
             width="1200"
             height="300" />
      {% endif %}
    </div>
    {% if banner.title %}<h1 class="display-6">{{ banner.title }}</h1>{% endif %}
    <blockquote class="blockquote">
      {% if banner.message %}<p>{{ banner.message }}</p>{% endif %}
    </blockquote>
  {% endfor %}
</div>
