{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">
      {# djlint:off #}
      <img src="{% static "images/header_brand.png" %}"
           alt="Your Brand"
           height="45">
      {# djlint:on #}
    </a>
    <button class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'index' %}" aria-current="page">
            Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             id="navbarDropdownMenuLink"
             role="button"
             data-bs-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">Products</a>
          <div class="dropdown-menu"
               aria-labelledby="navbarDropdownMenuLink"
               onclick="handleDropdownClick(event)">
            {% for card in cards %}
              <a class="dropdown-item" href="{% url 'index' %}#{{ card.id }}">{{ card.title }}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
          <hr class="dropdown-divider">
        </li>
        {% if user.is_authenticated %}
          {% if is_manager_or_superuser %}
            {% include "a_main/auth/admin_menu.html" %}
          {% endif %}
          {% include "a_main/auth/logout_menu.html" %}
        {% else %}
          {% include "a_main/auth/login_menu.html" %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
