html {
  scroll-padding-top: 70px; /* height of your fixed header */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative; /* Ensure the body is a positioning context */
  padding-bottom: 50px; /* Adjust this to match footer height */
  background-color: rgb(242, 242, 242);
}

.brand-color {
  color: rgba(150, 111, 66); /* Orange with 80% opacity */
}

/* Custom styles for the sidebar layout */
  .wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 56px; /* Height of your navbar */
  }
  
  .main-content {
    padding-top: 56px; /* Default Bootstrap navbar height */
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    width: 250px;
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #dee2e6;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    max-width: 650px;
  }
  
  @media (max-width: 992px) {
    .wrapper {
      padding-top: 0; /* Reset for mobile if needed */
    }
    .main-content {
      flex-direction: column;
    }
    .sidebar {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #dee2e6;
    }
  }


.bg-body-tertiary {
  background-color: rgb(
    242,
    242,
    242
  ) !important; /* Ensure the background color matches */
}

/* Navbar styling */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar is above other elements */
  /* background-color: rgb(242, 242,2 42); Match the navbar background color */
  opacity: 0.85;
}

/* Footer styling */
footer {
  height: 60px; /* Adjust if necessary */
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2; /* Ensure the footer is above the carousel */
  background-color: rgb(
    242,
    242,
    242
  ); /* Optional: Match the footer background color with the navbar */
  color: white;
  text-align: center;
  padding: 10px 0;
}

#backToTopBtn {
  border: 0px;
  display: none;
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 99;
  width: 40px;
  height: 40px;
  opacity: 0; /* Start fully transparent */
  transition: opacity 0.3s ease-in-out; /* Smooth fade transition */
  color: rgba(150, 111, 66); /* Orange with 80% opacity */
}

#backToTopBtn.show {
  opacity: 1; /* Fully visible when 'show' class is added */
}

@media (max-width: 576px) {
  #backToTopBtn {
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
}

.footer-link {
  text-decoration: none;
  color: transparent
}

.bi .bi-linkedin {
  text-decoration: none;
}

.form-floating > .form-control:not(:placeholder-shown) ~ label {
    opacity: .8;
}

.form-floating > .form-select ~ label {
  opacity: 1;
}

.magicsuccesstoast {
  z-index: 11;
}