<!-- Footer -->
<footer class="bg-light text-black">
  <div class="footer-container d-flex flex-wrap justify-content-between align-items-center">
    <div class="col-md-4 d-flex align-items-center">
      ©<a href="{% url 'managers' %}" class="footer-link">&nbsp;</a>2025 All rights reserved.
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      Xiaoyang Li &nbsp;
      <a href="https://www.linkedin.com/in/xiaoyang-li-61a0731b"><i class="bi bi-linkedin"></i></a>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-end">
      <a href="{% url 'terms' %}" class="nav-link px-2 text-body-secondary">Terms</a> |
      <a href="{% url 'faq' %}" class="nav-link px-2 text-body-secondary">FAQ</a> |
      <a href="{% url 'privacy' %}" class="nav-link px-2 text-body-secondary">Privacy</a> |
      <a href="{% url 'contact' %}" class="nav-link px-2 text-body-secondary">Support</a>
    </div>
  </div>
</footer>
