{% extends "base.html" %}
{% block maincontent %}
  <h1>Blurb Banners</h1>
  <a href="{% url 'banners-create' %}" class="btn btn-light brand-color-bg text-white">Create New Banner</a>
  <hr />
  <div class="row">
    {% for banner in banners %}
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          {# djlint:off #}
          <img src="{{ banner.image.url }}"
               class="card-img-top"
               alt="{{ banner.title|default:'banner image' }}"
               id="{{ banner.id }}" 
               width="200" />
          {# djlint:on #}
          <div class="card-body">
            <h5 class="card-title">{{ banner.title }}</h5>
            <p class="card-text">{{ banner.message }}</p>
            <div class="row">
              <div class="col">
                <a href="{% url 'banners-update' banner.pk %}" class="btn btn-secondary">Edit</a>
              </div>
              <div class="col">
                <div class="row justify-content-end p-1">
                Status:
                {% if banner.enabled %}
                  Enabled
                {% else %}
                  Disabled
                {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:2 and not forloop.last %}
        {# djlint:off #}
      </div>
      <div class="row">
        {# djlint:on #}
      {% endif %}
    {% empty %}
      <div class="col-12">
        <p>No banners available.</p>
      </div>
    {% endfor %}
  </div>
{% endblock maincontent %}
